In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/kaggle/input/online-sales-dataset/online_sales_dataset.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
0,221958,SKU_1964,White Mug,38,2020-01-01 00:00,1.71,37039.0,Australia,0.470000,Bank Transfer,10.79,Apparel,In-store,Not Returned,UPS,London,Medium
1,771155,SKU_1241,White Mug,18,2020-01-01 01:00,41.25,19144.0,Spain,0.190000,paypall,9.51,Electronics,Online,Not Returned,UPS,Rome,Medium
2,231932,SKU_1501,Headphones,49,2020-01-01 02:00,29.11,50472.0,Germany,0.350000,Bank Transfer,23.03,Electronics,Online,Returned,UPS,Berlin,High
3,465838,SKU_1760,Desk Lamp,14,2020-01-01 03:00,76.68,96586.0,Netherlands,0.140000,paypall,11.08,Accessories,Online,Not Returned,Royal Mail,Rome,Low
4,359178,SKU_1386,USB Cable,-30,2020-01-01 04:00,-68.11,NaN,United Kingdom,1.501433,Bank Transfer,NaN,Electronics,In-store,Not Returned,FedEx,NaN,Medium

In [3]:
# Understand the dataset
print(data.info())
print(data.shape)
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          49782 non-null  int64
 1   StockCode          49782 non-null  object
 2   Description        49782 non-null  object
 3   Quantity           49782 non-null  int64
 4   InvoiceDate        49782 non-null  object
 5   UnitPrice          49782 non-null  float64
 6   CustomerID         44804 non-null  float64
 7   Country            49782 non-null  object
 8   Discount           49782 non-null  float64
 9   PaymentMethod      49782 non-null  object
 10  ShippingCost       47293 non-null  float64
 11  Category           49782 non-null  object
 12  SalesChannel       49782 non-null  object
 13  ReturnStatus       49782 non-null  object
 14  ShipmentProvider   49782 non-null  object
 15  WarehouseLocation  46297 non-null  object
 16  OrderPriority      49782 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB
None
(49782, 17)
           InvoiceNo      Quantity     UnitPrice    CustomerID      Discount  \
count   49782.000000  49782.000000  49782.000000  44804.000000  49782.000000
mean   550681.239946     22.372343     47.537862  55032.871775      0.275748
std    260703.009944     17.917774     33.479510  25913.660157      0.230077
min    100005.000000    -50.000000    -99.980000  10001.000000      0.000000
25%    324543.000000     11.000000     23.592500  32750.750000      0.130000
50%    552244.000000     23.000000     48.920000  55165.000000      0.260000
75%    776364.000000     37.000000     74.610000  77306.250000      0.380000
max    999997.000000     49.000000    100.000000  99998.000000      1.999764

       ShippingCost
count  47293.000000
mean      17.494529
std        7.220557
min        5.000000
25%       11.220000
50%       17.500000
75%       23.720000
max       30.000000

In [4]:
# Identifying any null value
data.isnull().sum()

InvoiceNo               0
StockCode               0
Description             0
Quantity                0
InvoiceDate             0
UnitPrice               0
CustomerID           4978
Country                 0
Discount                0
PaymentMethod           0
ShippingCost         2489
Category                0
SalesChannel            0
ReturnStatus            0
ShipmentProvider        0
WarehouseLocation    3485
OrderPriority           0
dtype: int64

In [5]:
# Drop null values and check the number of row after dropping null values
updated_data = data.dropna(axis=0)
updated_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44804 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          44804 non-null  int64
 1   StockCode          44804 non-null  object
 2   Description        44804 non-null  object
 3   Quantity           44804 non-null  int64
 4   InvoiceDate        44804 non-null  object
 5   UnitPrice          44804 non-null  float64
 6   CustomerID         44804 non-null  float64
 7   Country            44804 non-null  object
 8   Discount           44804 non-null  float64
 9   PaymentMethod      44804 non-null  object
 10  ShippingCost       44804 non-null  float64
 11  Category           44804 non-null  object
 12  SalesChannel       44804 non-null  object
 13  ReturnStatus       44804 non-null  object
 14  ShipmentProvider   44804 non-null  object
 15  WarehouseLocation  44804 non-null  object
 16  OrderPriority      44804 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.2+ MB

In [6]:
# Checking any null values still exists
updated_data.isnull().sum()

InvoiceNo            0
StockCode            0
Description          0
Quantity             0
InvoiceDate          0
UnitPrice            0
CustomerID           0
Country              0
Discount             0
PaymentMethod        0
ShippingCost         0
Category             0
SalesChannel         0
ReturnStatus         0
ShipmentProvider     0
WarehouseLocation    0
OrderPriority        0
dtype: int64

In [7]:
# Deleting unused columns
updated_data = updated_data.drop(['StockCode','CustomerID'],axis=1)
print(updated_data.shape)

(44804, 15)

In [8]:
# checking if the unused columns have been deleted
updated_data['Description'].unique()

array(['White Mug', 'Headphones', 'Desk Lamp', 'Office Chair',
       'USB Cable', 'Notebook', 'Wireless Mouse', 'Blue Pen',
       'Wall Clock', 'T-shirt', 'Backpack'], dtype=object)

In [9]:
# Checking any duplicates
updated_data.duplicated().sum()

0

In [10]:
# Export the updated dataset to csv for further analysis using SQL
updated_data.to_csv('online-sales-data.csv', index=False)